<div>
    <label>Book Title</label>
    <input type="text" name="bookTitle" value="<%= book.bookTitle %>">
</div>
<div>
    <label>Author</label>
    <select name="author">
        <% authors.forEach(author => { %>
        <% if (author.id === book.author) { %>
        <option selected label="<%= author.name %>" value="<%= author.id %>">
            <% } else { %>
        <option label="<%= author.name %>" value="<%= author.id %>">
            <% } %>
            <% }) %>
    </select>
</div>
<div>
    <label>Plublish Date</label>
    <input type="date" name="publishDate"
        value="<%= book.publishDate == null ? '' : book.publishDate.toISOString().split('T')[0] %>">
</div>